
.chart{
    text-align: center;

    &__button{
        background-color:#00203FFF;
        border-color: goldenrod;
        color:white;
        width: 5rem;
        height: 2rem;
        display: inline-block;
    }
}
