
@import'../Styles/_mixin';
@import'../Styles/_variables';

.main{
    display:flex;
    flex-direction:column;
    align-items: center;
    padding:0;
    margin:0;
    &__div{
        display:flex;
        margin:1rem;
        flex-direction: row;
        justify-content: space-evenly;
        width:100%;
    }
    &__divTwo{
        display:flex;
        justify-content: center;
    }
}

