
@import'../Styles/_mixin';
@import'../Styles/_variables';

.main{
    display: flex;
    background-color: $green;
    color:$blue;
    &__div{
        display:flex;
        justify-content: space-evenly;
        width:100%;
    }
    &__divTwo{
        display:flex;
        justify-content: center;
    }
}
